.node .text {
  font-family: Arial;
  display: block;
  width: 40px;
  font-size: 14px;
  text-align: left;
  z-index: 100;
}

rect {
  fill: #ddd;
}

rect.zoom {
  stroke: steelblue;
  fill-opacity: 0.5;
}