.node .text {
  font-family: Arial;
  display: block;
  width: 40px;
  font-size: 14px;
  text-align: left;
  z-index: 100;
}

rect {
  fill: #ddd;
}

rect.select {
  stroke: steelblue;
  fill-opacity: 0.5;
}

rect.zoom {
  stroke: steelblue;
  fill-opacity: 0.5;
}

#context-menu {
  border: 1px dashed red;
}

#context-menu ul {
  margin: 0;
  padding: 5px 10px;
  list-style-type: none;
}

#context-menu ul li:hover {
  background-color: grey;
}